body {
  #root {
    min-height: 100vh;
    @include flex-column;

    .coin-compass-wrap {
      flex-grow: 1;
      padding: 30px 0;

      .overview-dashboard {
        @include safearea;
        background-image: $primary-gradient;
        border-radius: $radius;
        padding: 40px 50px;
        text-align: center;
        color: $white;

        @media screen and (max-width: 767px) {
          padding: 30px 20px;
        }

        .sub-title {
          @extend h5;
          font-weight: $medium;
          margin-bottom: 12px;
        }

        .net-balance {
          margin-bottom: 30px;
        }

        .transaction-figures {
          @include flex-center;
          justify-content: space-between;
          gap: 15px;

          .figure-wrapper {
            @include flex-center;
            gap: 10px;
            text-align: left;

            .arrow-wrap {
              width: 50px;
              height: 50px;
              padding: 8px;

              border-radius: 50%;
              background-color: rgba($white, 0.5);

              @include flex-center;
              justify-content: center;

              img {
                width: auto;
                height: 100%;
              }
            }
          }
        }
      }

      .categorized-transactions-wrap {
        @include safearea;
        padding: 40px 0;

        .heading-section {
          @include flex-center;
          justify-content: space-between;
          margin-bottom: 30px;

          .heading {
            color: $dark-grey;
          }
          .redirect-btn {
            color: rgba($dark-grey, 0.6);
          }
        }

        .transaction-list {
          @include flex-column;
          row-gap: 15px;

          .transaction-list-itm {
            box-shadow: $box-shadow;
            border-radius: $radius;
            padding: 20px 25px;

            @include flex-center;
            justify-content: space-between;

            @media screen and (max-width: 767px) {
              padding: 15px 20px;
            }

            .content-section {
              @include flex-center;
              justify-content: flex-start;

              column-gap: 15px;

              .icon-wrap {
                @include flex-center;
                justify-content: center;

                width: 45px;
                height: 45px;
                border-radius: 50%;
                padding: 5px;
              }
            }
          }
        }
      }
    }

    .component-wrap {
      @include safearea;
    }
  }
}
