body {
  #root {
    min-height: 100vh;
    @include flex-column;

    .coin-compass-wrap {
      flex-grow: 1;
      padding: 30px 0;
    }

    .component-wrap {
      @include safearea;
    }
  }
}
