html, * {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;

  ol,
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &::before,
    &::after {
      display: none;
    }
  }

  img {
    max-width: 100%;
  }

  .container {
    max-width: 1199px;
    padding-left: 20px;
    padding-right: 20px;
    @include auto-margin-side;

    @media screen and (max-width: 1199px) {
      max-width: 901px;
    }
    @media screen and (max-width: 991px) {
      max-width: 707px;
    }
    @media screen and (max-width: 767px) {
      max-width: 503px;
    }
    @media screen and (max-width: 543px) {
      max-width: 100%;
    }
  }
}

/* Custom Scrollbar */
* {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: $theme-secondary;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba($theme-primary, 0.6);

    &:hover {
      background: rgba($theme-primary, 0.85);
    }
  }
}

/* Font weights */
body {
  .extra-light {
    font-weight: $extra-light;
  }

  .light {
    font-weight: $light;
  }

  .regular {
    font-weight: $regular;
  }

  .medium {
    font-weight: $medium;
  }

  .semi-bold {
    font-weight: $semi-bold;
  }

  .bold {
    font-weight: $bold;
  }
}


/* Layout based classes */
.overflow-hidden {
  overflow: hidden;
}
body {
  .px-10 {
    padding: 0 10px;
  }
  .px-20 {
    padding: 0 20px;
  }
  .px-50 {
    padding: 0 50px;
  }
  .py-10 {
    padding: 10px 0;
  }
  .py-20 {
    padding: 20px 0;
  }
  .py-50 {
    padding: 50px 0;
  }
  .p-10 {
    padding: 10px;
  }
  .p-20 {
    padding: 20px;
  }
  .p-50 {
    padding: 50px;
  }
}

/* Content based classes */
body {
  .text-center {
    text-align: center;
  }
}