/* Colours */
$black: #000000;
$white: #FFFFFF;
$grey: #F5F5F5;
$dark-grey: #111111;
$blue: #4333FF;
$dark-blue: #1200da;
$red: #E53935;
$dark-red: #D32F2F;
$green: #27AE60;
$yellow: #c1981b;

/* Font Weight */
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black-weight: 900;

/* Utilities */
$transition-fast: 350ms all ease;
$transition: 550ms all ease;
$transition-slow: 750ms all ease;
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$primary-gradient: linear-gradient(135deg, #19AEE1 0%, #D069F3 50%, #FD956E 100%);
$radius-low: 8px;
$radius: 12px;
$radius-high: 20px;


/* Starter Theme Variables */
/* Theme colors */
$theme-primary: $blue; 
$theme-primary-dark: $dark-blue; 
$theme-secondary: $grey;
$theme-secondary-dark: $dark-grey;

/* Fonts */
$theme-primary-fonts: 'Questrial';
$theme-secondary-fonts: 'Inter';